@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Kreon:300,400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
	
	body {
		background: #0c080f;
	}
	
	html, body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	img {
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	
	.disableUserSelect {
		-moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
	}
	
	#arrow, #nav, #title  {
		will-change: opacity;
		transition: opacity 0.4s;
		-webkit-transition: opacity 0.4s;
	}
	
	#headerWrap {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		background: #ff2c72;
		overflow: hidden;
	}
	
	#headerWrap #header {	
		position: absolute;
		width: 100%;
		height: 100%;
		min-width: 1000px;
		bottom: 0;
	}
	
	#title {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		text-align: center;
		z-index: 21;
		opacity: 1;
	}
	
	.hideTitle {
		z-index: 12 !important;
		opacity: 0 !important;
	}
	
	#title #logo {
		position:  relative;
		text-indent: -99999px;
		background: url(imgs/logo.png) no-repeat;
		background-size: cover;
		width: 33%;
		min-width: 400px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		z-index: 5;
		margin-top: 80px;
	}

	#title #about {
		position: relative;
		width: 70%;
		left: 15%;
		margin-top: 40px;
	}
	
	#about #git img {
		display: inline-block;
		width: 70px;
		transition: transform 0.4s;
		-webkit-transition: -webkit-transform 0.4s;
	}

	#about #git:hover img {
		transform: scale(1.1) rotate(360deg);
		-webkit-transform: scale(1.1) rotate(360deg);
	}

	#title #about p {
		color: #96214e;
		/*color: #43001a;*/
		font-family: 'Kreon', serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 15px;
		margin-top: 10px;
	}

	#title #about p span {
		font-weight: 500;
	}

	#title #about #socialMedia {
		display: inline-block;
		margin-top: 10px;
		text-align: center;
	}

	#title #about #socialMedia img {
		float: left;
		width: 25px;
		margin-right: 5px;
		transition: transform 0.4s;
		-webkit-transition: -webkit-transform 0.4s;
	}

	#title #about #socialMedia img:hover {
		transform: scale(1.1) rotate(360deg);
		-webkit-transform: scale(1.1) rotate(360deg);
	}
	
	#header #arrow {
		position: fixed;
		width: 30px;
		left: 50%;
		margin-left: -15px;
		bottom: 5%;
		cursor: pointer;
		z-index: 21;
		opacity: 0.8;
	}

	#header #arrow:hover {
		opacity: 1 !important;
	}
	
	#header #frontTrees {
		will-change: transform;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 14;
	}
	
	#header #frontTrees img {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	
	#header #gradient {
		will-change: transform;
		position: absolute;
		background: #34072c;
		width: 100%;
		height: 101%;
		left: 0;
		top: 100%;
		z-index: 13;
	}
	
	.introAnimation {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	
	#header #midTrees {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		z-index: 11;
	}
	
	#header #backTrees {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		z-index: 10;
	}
	
	#header #glowWrap {
		position: absolute;
		width: 100%;
		left: -10%;
		z-index: 9;
	}
	
	#glowWrap img {
		will-change: transform;
		position: absolute;
	}
	
	#glow1 {
		width: 42.5%;
		left: 27%;
		bottom: 30%;
		z-index: 7;
	}
	
	#glow2 {
		width: 49.5%;
		left: 23.5%;
		bottom: 25%;
		z-index: 6;
	}
	
	#glow3 {
		width: 69%;
		left: 15%;
		bottom: 12%;
		z-index: 4;
	}
	
	#glow4 {
		width: 82%;
		left: 8%;
		bottom: 12%;
		z-index: 3;
	}
	
	#glow5 {
		width: 90%;
		left: 7%;
		bottom: 12%;
		z-index: 3;
	}
	
	#main {
		will-change: transform;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		z-index: 3;
	}
	
	#main, #frontTrees, #gradient {
		transition: transform 1s cubic-bezier(.07,1.09,1,1.01);
		-webkit-transition: -webkit-transform 1s cubic-bezier(.07,1.09,1,1.01);
	}
		
	.wrap {
		background: #34072c;
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	.wrap:nth-of-type(1){
		background: rgba(0,0,0,0);
	}
		
	.wrap .slideContent {
		position: absolute;
		width: 40%;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		-webkit-transform: translateY(-50%) translateX(-50%);
		
		max-width: 1200px;
		z-index: 999999;
	}
	
	.wrap .slideContent .artwork {
		display: block;
		position: relative;
	}

	.wrap .slideContent .artwork img {
		display: block;
		width: 100%;
		height: auto;
		border: 5px solid white;
	}
	
	.wrap .slideContent .artwork .slideHover {
		position: absolute;
		width: calc(100% + 10px);
		height: 100%;
		left: 0;
		bottom: 0;	
		text-align: center;
	}

	.wrap .slideContent .artwork p {
		position: relative;
		display: inline-block;
		background: #ffbf31;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		
		font-size: 32px;
		font-weight: 700;
		color: #3e2f0f;
		font-family: 'Kreon', serif;
		text-transform: uppercase;
		z-index: 29;
		padding: 10px 20px;
		
		
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		transition: clip-path 0.2s;
		-webkit-transition: -webkit-clip-path 0.2s;
	}


	.wrap .slideContent .artwork:hover p {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
		clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
	}

	@-moz-document url-prefix() {
		.wrap .slideContent .artwork p {
			opacity: 0;
			top: 52%;
			transition: opacity 0.2s, top 0.2s;
		}
		.wrap .slideContent .artwork:hover p {
			top: 48%;
			opacity: 1;
			transition: opacity 0.2s, top 0.2s;
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	   .wrap .slideContent .artwork p {
			opacity: 0;
			top: 52%;
			transition: opacity 0.2s, top 0.2s;
		}
		.wrap .slideContent .artwork:hover p {
			top: 48%;
			opacity: 1;
			transition: opacity 0.2s, top 0.2s;
		}
	}

	@supports (-ms-ime-align: auto) {
	  .wrap .slideContent .artwork p {
			opacity: 0;
			top: 52%;
			transition: opacity 0.2s, top 0.2s;
		}
		.wrap .slideContent .artwork:hover p {
			top: 48%;
			opacity: 1;
			transition: opacity 0.2s, top 0.2s;
		}
	}
	
	.wrap .slideContent h1 {
		font-size: 40px;
		font-weight: 100;
		color: white;
		font-family: 'Kreon', serif;
		text-transform: uppercase;
	}
	
	.wrap .slideContent .description {
		width: 80%;
		color: white;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 11px;
	}
	
	.wrap .slideContent .github {
		color: #ffbf31;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 11px;
		position: relative;
		top: -3px;
	}
	
	#nav {
		position: fixed;
		left: 30%;
		margin-left: -40px;
		top: 50%;
		margin-top: -45px;
		z-index: 99;
		opacity: 0;
	}
	
	#nav div {
		width: 20px;
		height: 3px;
		background: white;
		opacity: 0.4;
		cursor: pointer;
		margin-bottom: 6px;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
	}
	
	#nav div:hover {
		opacity: 0.6 !important;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
	}

	/*media queries*/
	
@media only screen and (max-width: 1000px) {
	.wrap .slideContent {
		width: 70%;
	}
	
	#nav {
		left: 15%;
	}
	
	.wrap .slideContent h1 {
		font-size: 30px;
	}
	
	.wrap .slideContent .description {
		width: 100%;
	}
}
	
@media only screen and (max-width: 768px) {
	#title #about p {
		font-size: 12px;
	}
}
	
@media only screen and (max-width: 500px) {
	#title #logo {
		min-width: 0px;
		width: 90%;
	}
	
	.wrap .slideContent .artwork p {
		font-size: 22px;	
	}
}
	
	/*animation*/
	
	.zoomin {
		-webkit-animation: zoomin 15s infinite;
		animation: zoomin 15s infinite;
	}
	.zoomout {
		-webkit-animation: zoomout 15s infinite;
		animation: zoomout 15s infinite;
	}
	@-webkit-keyframes zoomin {
		0% {
			-webkit-transform: scale(1);
		}
		50% {
			-webkit-transform: scale(1.1);
		}
		100% {
			-webkit-transform: scale(1);
		}
	}
	@keyframes zoomin {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
	
	@-webkit-keyframes zoomout {
		0% {
			-webkit-transform: scale(1);
		}
		50% {
			-webkit-transform: scale(0.9);
		}
		100% {
			-webkit-transform: scale(1);
		}
	}
	@keyframes zoomout {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.9);
		}
		100% {
			transform: scale(1);
		}
	}
	
	.rotateSun {
		-webkit-animation: rotatesun 15s infinite;
		animation: rotatesun 15s infinite;
	}
	
	@-webkit-keyframes rotatesun {
		0% {
			-webkit-transform: rotate(0deg);
		}
		50% {
			-webkit-transform: rotate(180deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes rotatesun {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
